<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'ParkenDD' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4b1ba76a-2f42-4105-9395-c2d440cb5955</InstrumentationKey>
</ApplicationInsights>